# MediaPipe (for hand tracking)
mediapipe==0.10.14

# OpenCV (for video capture from phone or webcam)
opencv-python==4.8.0.74

# WebSockets (for communication between phone and computer)
websockets==11.0.3

# OpenGL (for rendering the 3D objects)
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7

# # Numpy (for matrix operations in OpenGL)
# Install with Conda
# numpy==1.23.5

# Pygame (for window management with OpenGL)
pygame==2.6.0

# Cython (for compiling C extensions and accelerating code)
Cython==3.0.0
